header {
  display: flex;
  background-color: $primaryDark;
  height: calc(100vh - 64.5px);
}

.header-content{
  display: flex;
  text-align:left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 150px;
  color: white;
}

.header-content h1 {
  font-style: italic;
  margin: 0;
  padding: 0;
}

.header-content h3{
  font-family: $pen;
  padding-bottom: 40px;
}

header .get-touch {
  margin-top: 20px;
}

.arrow {
  padding-top: 65px;
}

.fa-angles-down {
  --fa-animation-duration: 2s;
  --fa-bounce-rebound: 0;
  --fa-bounce-start-scale-x: 1;
  --fa-bounce-start-scale-y: 1;
  --fa-bounce-jump-scale-x: 1;
  --fa-bounce-jump-scale-y: 1;
  --fa-bounce-land-scale-x: 1;
  --fa-bounce-land-scale-y: 1;
}
.snorlax {
  opacity: 0;
  position: relative;
  top: 75px;
  right: 0px;
  transition: 0.5s;
  &:hover{
    opacity: 1;
    transition: 0.5s;
  }
}

.snorlax:hover ~ .snorlax-message{
  position: absolute;
  top: 0;
  right: 0;
  font-family: $pen;
  color: white;
  opacity: 1;
  transition: 1s;
}

.snorlax-message p{
  opacity: 0;
  position: absolute;
  top: 100px;
  right: 100px;
  font-family: $pen;
  color: white;
}

.snorlax-message{
  position: absolute;
  bottom: 195px;
  left: 180px;
  font-family: $pen;
}
