// default nav
.nav {
  background-color: $primaryDark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.nav li {
  padding: 15px;
}

.nav li a {
  &:hover {
    color: $secondary;
  }
}

// hamburger nav
#hamburger-icon{
  display: none;
  background-color: $primaryDark;
  justify-content: center;
  color: white;
  padding: 10px 20px;
}

.hamburger-nav {
  display: none;
  flex-direction: column;
  background-color: $primaryDark;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  transition: all 1s;
}

.hamburger-nav li {
  padding: 15px;
  border-bottom: 2px solid white;
  width: 100px;
}

// .hamburger-nav li:nth-of-type(5) {
//   border-bottom: 2px solid white;
//   width: 100%;
// }

.hamburger-nav li a {
  &:hover {
    color: $secondary;
  }
}