// default nav
.nav {
  background-color: $primaryDark;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.nav li {
  padding: 15px;
}

.nav li a {
  &:hover {
    color: $secondary;
  }
}

// hamburger nav
#hamburger-icon{
  display: none;
  background-color: $primaryDark;
  justify-content: flex-end;
  color: white;
  padding: 10px 20px;
}

.hamburger-nav {
  position: absolute;
  display: block;
  opacity: 0;
  background-color: $primaryDark;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  transition: all 1s;
}

.hamburger-nav li {
  position: relative;
  padding: 15px;
}

.hamburger-nav li::after{
  content: "";
  display: block;
  position: relative;
  background-color: white;
  height: 1px;
  width: 350px;
  bottom: 0px;
  left: 24%;
margin-top: 25px;
}

.hamburger-nav li a {
  &:hover {
    color: $secondary;
  }
}