//  about section
#about-me {
  background-color: white;
  padding: 80px 0px;
}
#about-me .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me h2{
  color: $primaryDark;
}

#about-me p {
  padding-top: 10px;
  text-align: center;
}

// skills section

#skills {
  background-color: $primaryLight;
  color: $black;
}

#skills .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.skill-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

// projects section

#projects {
  background-color: $primarySLight;
}

#projects .wrapper {
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}

#projects h2{
  color: $primarySDark;
}

.project-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 0px;
}

.project-image {
  width: 50%;
}

.project-content {
  width: 50%;
}

#projects h4 {
  color: $primaryDark;
  text-transform: uppercase;
}

// contact section
#contact{
  color: $black;
  background-color: $secondary;
  padding: 100px 0px;
}

#contact h2 {
  color: white;
  text-align: center;
}

#contact .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.contact-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primarySDark;
}

.contact-logos {
  margin: 30px 30px;
    &:hover {
      color: $secondaryDark;
    }
}

.contact-logos a{
  &:hover {
    color: $secondaryDark;
  }
  &:active{
    color:$black;
  }
  &:visited {
    color: $primarySDark;
  }
}

#get-in-touch{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.contact-form {
  width: 60%;
}

.contact-form-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0px;
}

.contact-form-message {
  width: 100%;
  min-height: 125px;
}

#name {
  border-style: none;
  padding: 10px 0px;
  margin: 10px 0px;
}

#email {
  border-style: none;
  padding: 10px 0px;
  margin: 10px 0px;
}

#message {
  border-style: none;
  width: 100%;
  resize: none;
  padding: 100px 0px;
  margin: 10px 0px;
}

.submit {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 17%;
}


