

#skills {
  background-color: $primaryLight;
  color: $black;
}


#projects {
  background-color: white;
}

#contact{
  background-color: $secondary;
}

#contact h2 {
  color: white;
}

//  about section
#about-me {
  background-color: white;
  padding: 80px 0px;
}
#about-me .wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me h2{
  color: $primaryDark;
}

#about-me p {
  padding-top: 10px;
  text-align: center;
}