// Site fonts
$playfair: "Playfair Display";
$sourceSans: "Source Sans Pro";
$karla: "Karla";
$pen: "Nanum Pen Script";
// Site colours

$primary: #5E94A6;
$primaryDark: #205a70;
$primarySDark: #325A70;
$primaryLight: #b2cfd9;
$primarySLight: #E6F4F7;
$secondary: #EAD9B4;
$secondaryDark: #BB8E6D;
$secondaryDark2: #d19c75;
$black: #07334F;


