// Site fonts

$sourceSans: "Source Sans Pro";
// Site colours
$black: #2A3033;
$navy: #424B6D;
$lighblue: #5169BD;
$skyblue: #B6502C;
$white: #F2F4F5;
$peach: #EEAF98;
$eggshell: #F0EAD6;

$primary: #5E94A6;
$primaryDark: #205a70;
$primaryLight: #b2cfd9;
$secondary: #EAD9B4;
$secondaryDark: #BB8E6D;
$black: #000;


