// Site fonts
$playfair: "Playfair Display";
$sourceSans: "Source Sans Pro";
// Site colours

$primary: #5E94A6;
$primaryDark: #205a70;
$primaryLight: #b2cfd9;
$secondary: #EAD9B4;
$secondaryDark: #BB8E6D;
$secondaryDark2: #d19c75;
$black: #0b2028;


