/* font */
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Nanum+Pen+Script&family=Playfair+Display:ital,wght@1,700&family=Source+Sans+Pro:wght@600&display=swap");
/* styles.scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  overflow-x: hidden;
  border: none;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

body {
  margin: 0 auto;
}

h1 {
  font-family: "Nanum Pen Script";
  font-size: 4rem;
}

h2 {
  font-family: "Nanum Pen Script";
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 0.9rem;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.6rem;
}

.label {
  line-height: 1.5em;
}

body {
  color: black;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

.small-text {
  font-family: "Nanum Pen Script";
  color: gray;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

.get-touch, .live, .code, .submit {
  border: none;
  background-color: #EAD9B4;
  font-family: "Source Sans Pro";
  color: black;
  text-transform: lowercase;
  padding: 7px 25px;
  margin-top: 20px;
  cursor: pointer;
}
.get-touch:hover, .live:hover, .code:hover, .submit:hover {
  background-color: #BB8E6D;
}

.submit {
  background-color: #d19c75;
}

.get-touch a {
  color: black;
}

ul li a {
  color: white;
}

#about-me a:visited {
  color: mediumaquamarine;
}

.nav {
  background-color: #205a70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav li {
  padding: 15px;
}

.nav li a {
  font-family: "Nanum Pen Script";
  font-size: 1.5rem;
}
.nav li a:hover {
  color: #EAD9B4;
}

#hamburger-icon {
  display: none;
  background-color: #205a70;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 10px 20px;
}

.hamburger-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #205a70;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.hamburger-nav li {
  padding: 15px;
  border-bottom: 2px solid white;
  width: 100px;
}

.hamburger-nav li a {
  font-family: "Nanum Pen Script";
  font-size: 1.5rem;
}
.hamburger-nav li a:hover {
  color: #EAD9B4;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #205a70;
  height: calc(100vh - 64.5px);
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0px 150px;
  color: white;
}

.header-content h1 {
  font-style: italic;
  margin: 0;
  padding: 0;
}

.header-content h3 {
  font-family: "Nanum Pen Script";
  padding-bottom: 40px;
}

header .get-touch {
  margin-top: 20px;
}

.arrow {
  padding-top: 65px;
}

.fa-angles-down {
  --fa-animation-duration: 2s;
  --fa-bounce-rebound: 0;
  --fa-bounce-start-scale-x: 1;
  --fa-bounce-start-scale-y: 1;
  --fa-bounce-jump-scale-x: 1;
  --fa-bounce-jump-scale-y: 1;
  --fa-bounce-land-scale-x: 1;
  --fa-bounce-land-scale-y: 1;
}

.snorlax {
  opacity: 0;
  position: relative;
  top: 75px;
  right: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.snorlax:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.snorlax:hover ~ .snorlax-message {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Nanum Pen Script";
  color: white;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.snorlax-message p {
  opacity: 0;
  position: absolute;
  top: 100px;
  right: 100px;
  font-family: "Nanum Pen Script";
  color: white;
}

.snorlax-message {
  position: absolute;
  bottom: 195px;
  left: 180px;
  font-family: "Nanum Pen Script";
}

#about-me {
  background-color: white;
  padding: 80px 0px;
}

#about-me .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me h2 {
  color: #205a70;
}

#about-me p {
  padding-top: 10px;
  text-align: center;
  color: #07334F;
}

.juno {
  color: mediumaquamarine;
}

#skills {
  background-color: #b2cfd9;
  color: #07334F;
}

#skills h2 {
  font-family: "Nanum Pen Script";
}

#skills .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px;
}

.skill-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.devicon-firebase-plain {
  font-size: 3rem;
}

#projects {
  background-color: #E6F4F7;
}

#projects .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px;
}

#projects h2 {
  color: #325A70;
  margin-bottom: 30px;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
  border-bottom: 5px solid white;
}

.project-container:nth-of-type(3) {
  border-bottom: none;
}

.project-image {
  height: 260px;
  width: 400px;
  margin-top: 15px;
  margin-right: 40px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-content {
  max-width: 35%;
}

.project-content p {
  padding: 20px 0px;
}

#projects h4 {
  padding-top: 15px;
  color: #205a70;
  text-transform: uppercase;
}

#contact {
  color: #07334F;
  background-color: #EAD9B4;
  padding: 100px 0px;
}

#contact h2 {
  color: white;
  text-align: center;
}

#contact .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 60%;
}

.contact-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #325A70;
}

.contact-logos {
  margin: 30px 30px;
}
.contact-logos:hover {
  color: #BB8E6D;
}

.contact-logos a:visited, .contact-logos a:link {
  color: #325A70;
}

.contact-logos i:hover {
  color: #BB8E6D;
}

#get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-form {
  width: 60%;
}

.contact-form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10px 0px;
}

.contact-form-message {
  width: 100%;
  min-height: 125px;
}

#name {
  border-style: none;
  padding: 10px 5px 10px 10px;
  margin: 10px 0px;
}

#email {
  border-style: none;
  padding: 10px 5px 10px 10px;
  margin: 10px 0px;
}

#message {
  border-style: none;
  width: 100%;
  resize: none;
  margin: 10px 0px;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 17%;
  padding: 7px 45px;
  margin-top: 20px;
}

footer {
  text-align: center;
  background-color: #205a70;
  height: 100%;
}

@media (max-width: 1300px) {
  .snorlax {
    display: none;
  }
}
@media (max-width: 840px) {
  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-image {
    height: 215px;
    width: 340px;
    margin-top: 15px;
    margin-right: 40px;
  }
  .project-content h3 {
    padding-top: 25px;
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 50%;
    padding: 0;
  }
}
@media (max-width: 790px) {
  .nav {
    display: none;
  }
  #hamburger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-content {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-image img {
    margin-left: 20px;
  }
}
@media (min-width: 790px) {
  .mobile-menu {
    display: none;
  }
}
@media (max-width: 340px) {
  .project-image {
    display: none;
  }
}